{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('portfolio') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('portfolio') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="app">

        </div>
    </div>
{% endblock %}
