@import "~bootstrap/scss/bootstrap";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$color : blue;

.btn-primary{
  background-color: $color;
}

.nav-colored {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.nav-transparent {
  background-color:transparent !important;
  transition: background-color 200ms linear;
}

.nav-colored a{
  color: black;
}

.link-actived{
  background-color: rgb(185, 28, 29);
  color: white;
  padding:0px 10px
}

.link-actived:hover{
  color: white !important;
  border-bottom-width: 0px;
  cursor:default
}